@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    font: 500 1.3em Roboto, sans-serif;
    background: #171738;
    -webkit-font-smoothing: antialiased ;
    color: #EFE9F4;
}

div.container{
    width: 100%;
    max-width: 1120px ;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div#box{
   width: 600px;
   height: 350px;
   background: rgb(216, 216, 216);
   padding: 50px; 

   display: flex;
   flex-direction: column;
   align-items: center;
}

h1{
   margin-bottom: 40px; 
}

div#input{
    margin-bottom: 60px;
}

input{
    width: 55px;
    margin-right: 10px;
}

#code{
    width: 100%;
    height: 75%;
    padding: 10px;
}

#botao{
    
    margin-top: 15px;
    padding:  15px 25px;
    color: white;
    background: #037171;
    border: none;
    border-radius: 25px;
}